.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #F1F1F1;
  color: #212121;
  padding: 2rem;
  text-align: center;

  h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }

  .contact__info {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
  }

  .contact__btn {
    background-color: transparent;
    color: #212121;
    border: 1px solid #212121;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #212121;
      color: #F1F1F1;
    }
  }
}

/* contact query */
@media screen and (min-width: 900px) {
  .contact {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    position: relative;
    top: -245px;

    h2 {
      font-size: 2.6rem;
    }

    .contact__info {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    .contact__btn {
      padding: 0.5rem 1.5rem;
      font-size: 1.25rem;
    }
  }
}