@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

html {
  scroll-behavior: smooth;
  
}

body {
  background-color: #292929;
  font-family: $font-openSans;
  color: #F1F1F1;
}