.nav {
  position: relative;
  top: 0;
  z-index: 100;

  .nav__navs {
    position: fixed;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1em;
    background-color: #212121e2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);

    img {
      width: 35px;
    }

    #navs__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.2em;
      background-color: #212121e2;
      position: absolute;
      right: 0;
      top: 47px;
      width: 200px;
      height: 345px;
      transition: all 0.2s ease-in-out;

      a {
        color: #F1F1F1;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
      }

      a:hover {
        color: #919191;
        transition: all 0.2s ease-in-out;
      }
    }

    #navs__menu.hide-menu {
      position: absolute;
      top: -350px;
    }

    .navs__btn {
      cursor: pointer;
      color: #FFF;
      font-size: 2em;
      z-index: 101;
    }
  }

  .navs__desk {
    display: none;
  }
}

.show-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6185px;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  transition: all 0.5s ease-out;
}

/* tablet media query */
@media screen and (min-width: 970px) {
  .nav {
    .nav__navs {
      .navs__btn {
        display: none;
      }

      .navs__desk {
        display: block;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 2em;
          padding-right: 1em;
          font-weight: 500;
        }

        a {
          color: #F1F1F1;
          text-decoration: none;
          font-size: 20px;
          transition: all 0.2s ease-in-out;
        }

        a:hover {
          color: #919191;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}